.containerBtn{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
.btnDate{
    border: 1px solid #e5e7ef;
    border-radius: 100px;
    padding: 1% 10%;
    margin: 1% 0;
    font-weight: 700;
    color: var(--colorText);
    transition: 0.4s;
}
