.containerBtnFilter {
  display: flex;
  justify-content: flex-end;
  margin-top: -14%;
  margin-bottom: 5%;
}

.btnFilter {
  background-color: #fff;
  border-radius: 16px !important;
  border: 1px solid #fff;
  padding: 0.8% 6.7%;
  margin: 1% 0;
  transition: 0.5s;
}

.iconFilter {
  width: 25px;
}

.btn_submit {
  background-color: rgba(239, 67, 78, 0.4);
  color: #fff;
  border: 0px solid rgba(239, 67, 78, 0.4);
  border-radius: 16px;
  padding: 3% 25%;
  text-align: center;
  margin: 1% 0;
  transition: 0.4s;
}

.btn_submit-check {
  background-color: rgba(239, 67, 78, 0.895);
  border: 0px solid rgba(239, 67, 78, 0.895);
}

.container_btn_Submit {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.form_filter {
  font-weight: 500;
}

input[type="checkbox"] {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  padding: 2px;
}

.titleFilter {
  border-bottom: #fff;
  background-color: #fff;
}

.btnClose {
  border: none;
  background-color: #fff;
  font-size: 20px;
  float: right;
  margin-top: -3%;
}

@media only screen and (max-width: 540px) {
  .btnFilter {
    padding: 0.5% 6.7%;
    margin-top: 4%;
    font-size: 12px;
  }
}
